/*Setup Profile*/

.setup-container{
    min-height: 95vh;
    min-height: 95dvh;
    padding: 30px 20px;
    background: url(/imgs/background.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setup-wrapper {
    width: 900px;
    min-height: 500px;
    background: transparent;
    border: 2px solid var(--red);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px var(--black);
    display: flex;
    overflow: hidden;
}

.setup-wrapper .setup-box {
    position: relative;
    width: 100%;
    padding: 20px;
}

.setup-box h2 {
    font-size: 26px;
    color: var(--black);
    text-align: center;
}

.setup-box .date-time {
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}